---
layout: default
title: f64
nombre: "José A Marquez Gileta"
fecha: "Octubre 3, 2019"
proximo: Próximo
fotografo: jose
photoname: jose-marquez
description: Archivista y conservador nos viene a presentar una restrospectiva del fotógrafo colimense Gustavo Cárdenas quien durante su época prolífica fotografío la vida social colimense.
image: Octubref64.jpg
address: Blus.io Media. Calle Codorniz No.99 Santa Barbara, Colima.
---

<div class="top">
  <a href="#inicio">Regresar</a>
</div>

<div class="parallax-container">
  <section class="hero is-large has-text-centered parallax intro">
    <a name="inicio"></a>
    {% include header.html %}
    <div class="hero-body">
      <div class="container">
        <h2 class="subtitle has-text-white">
          Pláticas fotográficas
        </h2>
        <h1 class="title has-text-white">
          Cada primer Jueves del mes
        </h1>
      </div>
    </div>
  </section>

  <section id="f64" class="hero is-white f64">
    <div class="hero-body">
      <a name="que-es"></a>
      <div class="columns">
        <div class="column">
          <div class="column is-three-fifths">
            <h3>Pláticas fotográficas</h3>
            <h1>f/64</h1>
          </div>
          <div class="column is-three-fifths">
            <p>
            f/64 es un evento con el objetivo de invitar a un fotógrafo local cada primer jueves del mes a que nos platique parte de su historia en la fotografía, no hay formato específico y cada presentador es libre de contar su historia bajo sus condiciones.
            </p>
            <p>
            El evento es gratuito y para el público en general interesado en conocer sobre el quehacer fotográfico, anécdotas y motivaciones pero más importante, al final de la charla tener la oportunidad de una conversación más directa y personal entre los asistentes y el invitado.
            </p>
            <p>El nombre de f/64 es un homenaje al grupo creado en 1932 por fotógrafos norteamericanos Edward Weston, Ansel Adams, Imogen Cunningham, entre otros. Ellos compartian la convicción de que la fotografía debe de hacer énfasis en las características mismas del medio como elemento para distinguirse de otras artes y así lograr su propia identidad.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="hero is-large parallax expectators">
    <div class="hero-body">
    </div>
  </section>

  <section class="hero is-white event">
    <div class="hero-body">
      <a name="eventos"></a>

      <nav class="level">
        <!-- Left side -->
        <div class="level-left">

        </div>

        <!-- Right side -->
        <div class="level-right">
          <div class="level-item">
            <h3>
              Patrocinador de Octubre
            </h3>
          </div>
          <a class="level-item" href="https://blus.io/en_US/" target="_blank"><img src="{{site.baseurl}}/images/blusio.png"  style="width: 92px"/></a>
        </div>
      </nav>

      {% include photographer.html %}
    </div>
  </section>

  <section class="hero is-large parallax presenters">
    <div class="hero-body">
    </div>
  </section>

  <section class="hero is-white events">
    <div class="hero-body">
      <a name="sesiones"></a>
      <div class="columns">
        <div class="column">
          <h3>Eventos pasados</h3>
          <h1>Sesiones de f/64</h1>
        </div>
        <div class="column is-three-fifths">
          <p>Realmente nos complace el tener asistentes en las sesiones y que pueda haber una comunicación directa y personal
          pero sabemos que en ocasiones se puede complicar el asistir, por tal razón grabamos las sesiones para poder ser
          vistas por quienes no pudieron asistir o quien desee repasar el momento.</p>
        </div>
      </div>
      <hr/>
      <div class="photographers columns">
        <div class="column">
        </div>
        <div class="column">
          <a href="/2019/09/05/angelica-mercado.html">
            <img src="{{'/images/Septiembref64.jpg' | absolute_url}}" alt="Angélica Mercado">
          </a>
        </div>
      </div>

      <div class="photographers columns">
        <div class="column">
          <a href="/2019/08/01/alfredo-mendoza.html">
            <img src="{{'/images/Agostof64.jpg' | absolute_url}}" alt="Alfredo Mendoza">
          </a>
        </div>
        <div class="column">
          <a href="/2019/07/04/carlos-tirado.html">
            <img src="{{'/images/Juliof64.jpg' | absolute_url}}" alt="Carlos Tirado">
          </a>
        </div>
      </div>

      <div class="photographers columns">
        <div class="column">
          <a href="/2019/06/06/ingrid-acosta.html">
            <img src="{{'/images/Juniof64.jpg' | absolute_url}}" alt="Ingrid Acosta">
          </a>
        </div>
        <div class="column">
          <a href="/2019/05/02/massiel-hernandez.html">
            <img src="{{'/images/Mayof64.jpg' | absolute_url}}" alt="Massiel Hernández">
          </a>
        </div>
      </div>

      <div class="photographers columns">
        <div class="column">
          <a href="/2019/04/04/javier-flores.html">
            <img src="{{'/images/Abrilf64.jpg' | absolute_url}}" alt="Javier Flores">
          </a>
        </div>
        <div class="column">
          <a href="/2019/03/07/hernando-rivera.html">
            <img src="{{'/images/Marzof64.jpg' | absolute_url}}" alt="Hernando Rivera">
          </a>
        </div>
      </div>

      <div class="photographers columns">
        <div class="column">
          <a href="/2019/02/07/america-alvarez.html">
            <img src="{{'/images/Febrerof64.jpg' | absolute_url}}" alt="América Sepúlveda">
          </a>
        </div>
        <div class="column">
          <a href="/2019/01/03/neddy-palacios.html">
            <img src="{{'/images/Enerof64.jpg' | absolute_url}}" alt="Neddy Palacios">
          </a>
        </div>
      </div>

      <div class="photographers columns">
        <div class="column">
          <a href="/2018/12/06/fernando-chavez.html">
            <img src="{{'/images/Diciembref64.jpg' | absolute_url}}" alt="Fernando Chávez">
          </a>
        </div>
        <div class="column">
          <a href="/2018/11/08/gustavo-vilchis.html">
            <img src="{{'/images/Noviembref64.jpg' | absolute_url}}" alt="Gustavo Vilchis">
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="hero is-medium parallax about">
    <div class="hero-body has-text-white">
      <a name="acerca"></a>
      <h1>
        “f/64 es un evento organizado por Mario Chávez y Flor Larios con el apoyo de michelada.io.
        Es un evento sin fines de lucro.”
      </h1>
      <h3>- f/64 pláticas fotográficas</h3>
    </div>
  </section>

  <footer class="footer has-background-light">
    <div class="content has-text-centered">
      <p>info@f64.io</p>
      <a href="https://facebook.com/64fotos" target="_blank">Facebook</a>
      <p>&copy; f/64. Derechos Reservados 2019. Todas las imágenes y videos aquí publicados son propiedad de sus autores, no copiar, ni reproducir sin autorización previa.</p>
    </div>
  </footer>
  </div>

  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="video">
        <iframe width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="details">
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
