<div class="columns">
  <div class="column">
    <h3>Próximo evento</h3>
    <h1>7 de febrero 2019</h1>
    <h4>8pm en Av. Carranza 1248, Colinas de Santa Bárbara, Colima</h4>
  </div>
  <div class="column is-three-fifths">
    <p><b>América Álvarez Sepúlveda</b>, Danzante, fotógrafa, pintora y viajera.</p>
    <p>Quien soy es una pregunta básica en mi existencia, después de morir y renacer cada día, busco ser, estando y guiándome entre que la realidad es el sueño y la vida se va en un momento creo las imágenes puras de mi ensueño, a través de la foto reafirmo mi existencia, observo hacia donde va mi mirada, reflejándome a mí misma en lo fotografiado, en el sujeto y en el objeto, en las formas orgánicas e inorgánicas, dejando de pensar caminando por la intuición de la foto me conozco, como una meditación activa, con la fotografía puedo crear ventanas de realidad, portales que me recuerdan que otros mundos pueden ser posibles dentro de una realidad colectiva y todo se convierte en una imagen, dejando la técnica de lado cuando se revela mi forma de ver el mundo, queda en un recuerdo, en un fragmento de tiempo congelado, que me ayuda a recordar quien soy.</p>
  </div>
</div>

<div class="images columns">
  <div class="column is-three-fifths">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/america/america1.jpg" alt="Mujer y lancha">
    <h3>&copy; América Álvarez Sepúlveda</h3>
  </div>
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/america/america2.jpg" alt="Portal">
    <h3>&copy; América Álvarez Sepúlveda</h3>
  </div>
</div>

<div class="images columns">
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/america/america3.jpg" alt="Mar y concha">
    <h3>&copy; América Álvarez Sepúlveda</h3>
  </div>
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/america/america4.jpg" alt="Mujer">
    <h3>&copy; América Álvarez Sepúlveda</h3>
  </div>
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/america/america5.jpg" alt="Mar y tormenta">
    <h3>&copy; América Álvarez Sepúlveda</h3>
  </div>
</div>
