<section class="hero events is-black">
  <div class="hero-body">
    <div class="images columns">
      <div class="column">
        <div class="photo-overlay"></div>
        <img src="{{'/images/' | append: page.fotografo | append: '/' | append: page.photoname | append: '-ev-1.jpg' | absolute_url}}" alt="Evento f/64">
        <h3>&copy; f/64</h3>
      </div>
      <div class="column">
        <div class="photo-overlay"></div>
        <img src="{{'/images/' | append: page.fotografo | append: '/' | append: page.photoname | append: '-ev-2.jpg' | absolute_url}}" alt="Evento f/64">
        <h3>&copy; f/64</h3>
      </div>
    </div>


    <div class="images columns">
      <div class="column is-one-fifth is-hidden-mobile"></div>
      <div class="column">
        <div class="photo-overlay"></div> 
        <img src="{{'/images/' | append: page.fotografo | append: '/' | append: page.photoname | append: '-ev-3.jpg' | absolute_url}}" alt="Evento f/64"> 
        <h3>&copy; f/64</h3> 
      </div>
      <div class="column is-one-fifth is-hidden-mobile"></div>
    </div>

    <div class="images columns">
      <div class="column">
        <div class="photo-overlay"></div>
        <img src="{{'/images/' | append: page.fotografo | append: '/' | append: page.photoname | append: '-ev-4.jpg' | absolute_url}}" alt="Evento f/64">
        <h3>&copy; f/64</h3>
      </div>
      <div class="column is-three-fifths">
        <div class="photo-overlay"></div>
        <img src="{{'/images/' | append: page.fotografo | append: '/' | append: page.photoname | append: '-ev-5.jpg' | absolute_url}}" alt="Evento f/64">
        <h3>&copy; f/64</h3>
      </div>
    </div>

    <div class="images columns">
      <div class="column is-one-fifth is-hidden-mobile"></div>
      <div class="column">
        <div class="photo-overlay"></div>
        <img src="{{'/images/' | append: page.fotografo | append: '/' | append: page.photoname | append: '-ev-6.jpg' | absolute_url}}" alt="Evento f/64">
        <h3>&copy; f/64</h3>
      </div>
      <div class="column is-one-fifth is-hidden-mobile"></div>
    </div>
  </div>
</section>
