<section class="hero events is-black">
  <div class="hero-body">
    <div class="images columns">
      <div class="column">
        <div class="photo-overlay"></div>
        <img src="{{site.baseurl}}/images/{{page.fotografo}}/{{page.photoname}}-ev-1.jpg" alt="Evento f/64">
        <h3>&copy; f/64</h3>
      </div>
      <div class="column">
        <div class="photo-overlay"></div>
        <img src="{{site.baseurl}}/images/{{page.fotografo}}/{{page.photoname}}-ev-2.jpg" alt="Evento f/64">
        <h3>&copy; f/64</h3>
      </div>
    </div>


    <div class="images columns">
      <div class="column is-one-fifth is-hidden-mobile"></div>
      <div class="column"> 
        <div class="photo-overlay"></div> 
        <img src="{{site.baseurl}}/images/{{page.fotografo}}/{{page.photoname}}-ev-3.jpg" alt="Evento f/64"> 
        <h3>&copy; f/64</h3> 
      </div>
      <div class="column is-one-fifth is-hidden-mobile"></div>
    </div>

    <div class="images columns">
      <div class="column">
        <div class="photo-overlay"></div>
        <img src="{{site.baseurl}}/images/{{page.fotografo}}/{{page.photoname}}-ev-4.jpg" alt="Evento f/64">
        <h3>&copy; f/64</h3>
      </div>
      <div class="column is-three-fifths">
        <div class="photo-overlay"></div>
        <img src="{{site.baseurl}}/images/{{page.fotografo}}/{{page.photoname}}-ev-5.jpg" alt="Evento f/64">
        <h3>&copy; f/64</h3>
      </div>
    </div>

    <div class="images columns">
      <div class="column is-one-fifth is-hidden-mobile"></div>
      <div class="column">
        <div class="photo-overlay"></div>
        <img src="{{site.baseurl}}/images/{{page.fotografo}}/{{page.photoname}}-ev-6.jpg" alt="Evento f/64">
        <h3>&copy; f/64</h3>
      </div>
      <div class="column is-one-fifth is-hidden-mobile"></div>
    </div>
  </div>
</section>
