<nav class="navbar overlay">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="{{site.baseurl}}/images/white-f64.png" alt="F/64 Pláticas fotográficas" width="70" height="51">
    </a>
    <div class="navbar-burger" data-target="navMenu">
      <span></span>
    </div>
  </div>

  <div class="navbar-menu", id="navMenu">
    <div class="navbar-end">
      <a class="navbar-item" href="#que-es">
        Qué es F/64?
      </a>
      <a class="navbar-item" href="#eventos">
        Eventos
      </a>
      <a class="navbar-item" href="#sesiones">
        Eventos pasados
      </a>
      <a class="navbar-item" href="#acerca">
        Acerca
      </a>
    </div>
  </div>
</nav>
