<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>f/64: Pláticas fotográficas {{page.nombre}}</title>
  <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">
  <style>@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:300,400');</style>
  <style>@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,600i,700');</style>
  <script src="{{ "/assets/js/intersection-observer.js" | prepend: site.baseurl }}"></script>
  
  <link rel="alternate" type="application/rss+xml" title="{{ page.title }}" href="{{ "/feed.xml" | absolute_url }}">

  <meta content="f/64: pláticas fotográficas {{page.nombre}}" property="og:title">
  <meta content="Website" property="og:type">
  <meta content="{{site.url}}{{site.baseurl}}/images/{{page.image}}" property="og:image">
  <meta content="{{page.url | absolute_url}}" property="og:url">

  <meta content="f/64: pláticas fotográficas" property="og:site_name">
  <meta content="{{page.nombre}}, {{page.description}}" property="og:description">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@mario_chavez">
  <meta name="twitter:title" content="f/64: pláticas fotográficas {{page.nombre}}">
  <meta name="twitter:description" content="{{page.nombre}}, {{page.description}}">
  <meta name="twitter:image" content="{{site.url}}{{site.baseurl}}/images/{{page.image}}">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134063135-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-134063135-1');
  </script>
</head>
