<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>f/64: Pláticas fotografícas</title>
  <link rel="stylesheet" href="{{ "/assets/main.css" | absolute_url }}">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <style>@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:300,400');</style>
  <style>@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,600i,700');</style>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
  <script src="{{ "/assets/js/parallax.js" | absolute_url }}"></script>

  <meta content="f/64: pláticas fotografícas" property="og:title">
  <meta content="Website" property="og:type">
  <meta content="{{site.baseurl}}/images/f64.jpg" property="og:image">
  <meta content="https://f64.io" property="og:url">

  <meta content="f/64: pláticas fotografícas" property="og:site_name">
  <meta content="f/64 es un evento con el objetivo de invitar a un fotógrafo local cada primer jueves del mes a que nos platique parte de su historia en la fotografía, no hay formato específico y cada presentador es libre de contar su historia bajo sus condiciones." property="og:description">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@mario_chavez">
  <meta name="twitter:title" content="f/64: pláticas fotografícas">
  <meta name="twitter:description" content="f/64 es un evento con el objetivo de invitar a un fotógrafo local cada primer jueves del mes a que nos platique parte de su historia en la fotografía, no hay formato específico y cada presentador es libre de contar su historia bajo sus condiciones.">
  <meta name="twitter:image" content="{{site.baseurl}}/images/f64.jpg">
</head>
