<nav class="navbar overlay">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="{{site.baseurl}}/images/f64_logo.png" alt="f64 photography" width="60" height="300">
    </a>
    <div class="navbar-burger" data-target="navMenu">
      <span></span>
    </div>
  </div>

  <div class="navbar-menu", id="navMenu">
    <div class="navbar-end">
      <a class="navbar-item">
        About
      </a>
      <a class="navbar-item">
        Schedule
      </a>
      <a class="navbar-item">
        Vendors
      </a>
      <a class="navbar-item">
        Attend
      </a>
      <a class="navbar-item">
        Blog
      </a>
      <a class="navbar-item">
        Past events
      </a>
    </div>
  </div>
</nav>
