<div class="columns">
  <div class="column">
    <h3>Próximo evento</h3>
    <h1>7 de marzo 2019</h1>
    <h4>8pm en Av. Carranza 1248, Colinas de Santa Bárbara, Colima</h4>
  </div>
  <div class="column is-three-fifths">
    <p><b>Hernando Rivera</b>, fotógrafo de naturaleza apasionado por la conservación y los paisajes nocturnos y la fauna silvestre.</p>
    <p>Reconocido fotógrafo colimense con múltiples premios nacionales e internacionales gracias a sus impresionanetes fotografías del Volcán de Colima.</p>
  </div>
</div>

<div class="images columns">
  <div class="column is-three-fifths">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/hernando/hernando1.jpg" alt="Volcán de Colima">
    <h3>&copy; Hernando Rivera</h3>
  </div>
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/hernando/hernando2.jpg" alt="El Popo">
    <h3>&copy; Hernando Rivera</h3>
  </div>
</div>

<div class="images columns">
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/hernando/hernando3.jpg" alt="Volcán de Colima">
    <h3>&copy; Hernando Rivera</h3>
  </div>
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/hernando/hernando4.jpg" alt="Murciélago">
    <h3>&copy; Hernando Rivera</h3>
  </div>
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/hernando/hernando5.jpg" alt="Laguna La María">
    <h3>&copy; Hernando Rivera</h3>
  </div>
</div>
