<div class="columns">
  <div class="column">
    <h3>Próximo evento</h3>
    <h1>6 de junio 2019</h1>
    <h4>8pm en Av. Carranza 1248, Colinas de Santa Bárbara, Colima</h4>
  </div>
  <div class="column is-three-fifths">
    <p><b>Ingrid Acosta</b>, fotografío como una reafirmación de mi ahora y un homenaje de lo que fui.</p>
  </div>
</div>

<div class="images columns">
  <div class="column is-three-fifths">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/ingrid/ingrid1.jpg" alt="">
    <h3>&copy; Ingrid Acosta</h3>
  </div>
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/ingrid/ingrid2.jpg" alt="">
    <h3>&copy; Ingrid Acosta</h3>
  </div>
</div>

<div class="images columns">
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/ingrid/ingrid3.jpg" alt="">
    <h3>&copy; Ingrid Acosta</h3>
  </div>
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/ingrid/ingrid4.jpg" alt="">
    <h3>&copy; Ingrid Acosta</h3>
  </div>
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/ingrid/ingrid5.jpg" alt="">
    <h3>&copy; Ingrid Acosta</h3>
  </div>
</div>

<div class="images columns">
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/ingrid/ingrid6.jpg" alt="">
    <h3>&copy; Ingrid Acosta</h3>
  </div>
</div>
