<div class="columns">
  <div class="column">
    <h3>Próximo evento</h3>
    <h1>4 de abril 2019</h1>
    <h4>8pm en Av. Carranza 1248, Colinas de Santa Bárbara, Colima</h4>
  </div>
  <div class="column is-three-fifths">
    <p><b>Javier Flores</b>, Fotógrafo que se ha dedicado a capturar la vida cotidiana de Colima y sus alrededores, siempre en su mirada los personajes, la comida y las fiestas populares.</p>
  </div>
</div>

<div class="images columns">
  <div class="column is-three-fifths">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/javier/javier1.jpg" alt="Salinero">
    <h3>&copy; Javier Flores</h3>
  </div>
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/javier/javier2.jpg" alt="Jinete">
    <h3>&copy; Javier Flores</h3>
  </div>
</div>

<div class="images columns">
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/javier/javier3.jpg" alt="Niño en burro">
    <h3>&copy; Javier Flores</h3>
  </div>
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/javier/javier4.jpg" alt="Chayacates">
    <h3>&copy; Javier Flores</h3>
  </div>
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/javier/javier5.jpg" alt="Vírgen">
    <h3>&copy; Javier Flores</h3>
  </div>
</div>
