<div class="columns">
  <div class="column">
    <h3>Próximo evento</h3>
    <h1>3 de enero 2019</h1>
    <h4>8pm en Av. Carranza 1248, Colinas de Santa Bárbara, Colima</h4>
  </div>
  <div class="column is-three-fifths">
    <p><b>Neddy Palacios</b>, originaria de Colima, se ha dedicado a la fotografía de 15 años a la fecha y en la búsqueda de un punto de vista propio, de la realidad a través de la cámara, ha encontrado que en la expresió gestual de la gente se concentra la esencia de su ser.</p>
  </div>
</div>

<div class="images columns">
  <div class="column is-three-fifths">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/neddy/010.JPG" alt="Niño en la playa">
    <h3>&copy; Neddy Palacios</h3>
  </div>
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/neddy/007.jpg" alt="Mujeres">
    <h3>&copy; Neddy Palacios</h3>
  </div>
</div>

<div class="images columns">
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/neddy/004.JPG" alt="Persona con rosario">
    <h3>&copy; Neddy Palacios</h3>
  </div>
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/neddy/003.jpg" alt="Señor y guitarra">
    <h3>&copy; Neddy Palacios</h3>
  </div>
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/neddy/002.jpg" alt="Mujer en el campo">
    <h3>&copy; Neddy Palacios</h3>
  </div>
</div>
