<div class="columns">
  <div class="column">
    <h3>{{page.proximo}} Evento</h3>
    <h1>{{page.fecha}}</h1>
    <h4>8pm en Av. Carranza 1248, Colinas de Santa Bárbara, Colima</h4>
  </div>
  <div class="column is-three-fifths">
    <p><b>{{page.nombre}}</b>, {{page.description}}</p>
  </div>
</div>

<div class="images columns">
  <div class="column is-three-fifths">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/{{page.fotografo}}/{{page.photoname}}-1.jpg" alt="{{page.nombre}}">
    <h3>&copy; {{page.nombre}}</h3>
  </div>
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/{{page.fotografo}}/{{page.photoname}}-2.jpg" alt="{{page.nombre}}">
    <h3>&copy; {{page.nombre}}</h3>
  </div>
</div>

<div class="images columns">
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/{{page.fotografo}}/{{page.photoname}}-3.jpg" alt="{{page.nombre}}">
    <h3>&copy; {{page.nombre}}</h3>
  </div>
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/{{page.fotografo}}/{{page.photoname}}-4.jpg" alt="{{page.nombre}}">
    <h3>&copy; {{page.nombre}}</h3>
  </div>
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{site.baseurl}}/images/{{page.fotografo}}/{{page.photoname}}-5.jpg" alt="{{page.nombre}}">
    <h3>&copy; {{page.nombre}}</h3>
  </div>
</div>
