<div class="columns">
  <div class="column">
    <h3>{{page.proximo}} Evento</h3>
    <h1>{{page.fecha}}</h1>
    <h4>8pm en {{ page.address }}</h4>
  </div>
  <div class="column is-three-fifths">
    <p><b>{{page.nombre}}</b>, {{page.description}}</p>
  </div>
</div>

<div class="images columns">
  <div class="column is-three-fifths">
    <div class="photo-overlay"></div>
    <img src="{{'/images/' | append: page.fotografo | append: '/' | append: page.photoname | append: '-1.jpg' | absolute_url}}" alt="{{page.nombre}}">
    <h3>&copy; {{page.nombre}}</h3>
  </div>
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{'/images/' | append: page.fotografo | append: '/' | append: page.photoname | append: '-2.jpg' | absolute_url}}">
    <h3>&copy; {{page.nombre}}</h3>
  </div>
</div>

<div class="images columns">
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{'/images/' | append: page.fotografo | append: '/' | append: page.photoname | append: '-3.jpg' | absolute_url}}">
    <h3>&copy; {{page.nombre}}</h3>
  </div>
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{'/images/' | append: page.fotografo | append: '/' | append: page.photoname | append: '-4.jpg' | absolute_url}}">
    <h3>&copy; {{page.nombre}}</h3>
  </div>
  <div class="column">
    <div class="photo-overlay"></div>
    <img src="{{'/images/' | append: page.fotografo | append: '/' | append: page.photoname | append: '-5.jpg' | absolute_url}}">
    <h3>&copy; {{page.nombre}}</h3>
  </div>
</div>

