$text: hsl(0, 0%, 29%);
$link: hsl(0, 0%, 21%);
$link-hover: hsl(0, 0%, 48%);
$family-sans-serif: 'EB Garamond', serif;
$family-secondary: 'Fira Sans Extra Condensed', sans-serif;

$size-0: 4.5rem;
$mobile: 414px;

@import 'bulma';

body {
  font-style: normal;
  font-size: 16px;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;

  @include until($tablet) {
    font-size: 16px;
  }
}

a {
  -webkit-transition: color .15s ease-out;
  -moz-transition: color .15s ease-out;
  -ms-transition: color .15s ease-out;
  -o-transition: color .15s ease-out;
  transition: color .15s ease-out;
}

h1 {
  font-size: $size-0;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -.02em;
  line-height: 1em;
  margin-bottom: 46px;
  text-transform: none;
}

h2 {
  font-family: $family-secondary;
  font-size: $size-5;
  font-weight: bolder;
  letter-spacing: .12em;
  line-height: 1em;
  margin-top: 34px;
  text-transform: uppercase;
}

h3 {
  font-family: $family-secondary;
  font-size: $size-6;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .12em;
  line-height: 1em;
  margin-bottom: 15px;
  text-transform: uppercase;
}

h4 {
  font-family: $family-secondary;
  font-size: $size-6;
  font-style: normal;
  font-weight: 100;
  letter-spacing: .12em;
}

p {
  font-size: $size-5;
  letter-spacing: 0.12rem;
  line-height: 2rem;
  margin: 1.5rem 0;
}

.intro, .f64, .event, .events, .about, .footer {
  padding: 120px 80px;

  @include until($tablet) {
    padding: 4rem 1rem;
  }
}

.presenters, .expectators {
  min-height: 50rem;

  @include until($tablet) {
    min-height: 40rem;
  }
}

.intro {
  padding-top: 0;

  h1 {
    font-size: $size-0 !important;
  }
}

.event {
  h1 {
    margin-bottom: 0.5rem;
  }
}

.about {
  h1 {
    font-size: $size-1 !important;
  }
}

.footer {
  a {
    text-transform: uppercase;
  }

  p {
    font-family: $family-secondary;
    font-size: $size-6;
    font-weight: 100;
  }
}

.parallax-container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  perspective: 2px;

  .section {
    height: 100vh;
    position: relative;
  }
}

.parallax {
  position: relative;
}

.parallax:after {
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  background-size: 100%;
  transform: translateZ(-1px) scale(1.5);
  z-index: -1;

  @include until($desktop) {
    transform: translateZ(-1px) scale(2.1);
  }
}

.background-image {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

  background-size: cover;
}

.intro:after {
  background-image: url($url + '/images/home.jpg');
  @extend .background-image;
}

.expectators:after {
  background-image: url($url + '/images/f64-publico.jpg');
  @extend .background-image;

  @include until($desktop) {
    background-size: 100%;
  }
}

.presenters:after {
  background-image: url($url + '/images/talks.jpg');
  @extend .background-image;

  @include until($desktop) {
    background-size: 100%;
  }
}

.about:after {
  background-image: url($url + '/images/colima.jpg');
  @extend .background-image;
  background-position-y: bottom;
}

.navbar-brand {
  padding: 0 24px 0 24px;
  height: 7%;

  @include until($tablet) {
    padding: 0;
  }
}

.navbar {
  background-color: transparent;
  padding: 3rem;
  z-index: 1000;

  @include until($tablet) {
    padding: 2rem 1rem;
  }
}

.navbar-menu {
  @media screen and (max-width: 1087px) {
    background-color: transparent;
    opacity: 0;

    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -ms-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
  }
}

.is-active {
  opacity: 1;
}

.navbar-item {
  color: $white;
  font-family: $family-secondary;
  font-size: $size-6;
  letter-spacing: .06em;
  text-transform: uppercase;

  img {
    max-height: 100%;
  }

  @media screen and (max-width: 1087px) {
    padding-bottom: 1.2rem !important;
  }
}

.navbar-burger {
  span {
    background-color: $white;
  }

  &:hover {
    background-color: transparent;
  }
}

.navbar-end {
  height: 60px;
  padding-bottom: 15px;
  &:hover {
    a {
      color: #bababa;
      background-color: transparent;
    }
  }
}

a.navbar-item {
  padding: 0 1rem;
  &:hover {
    color: white;
  }
}

.images {
  img {
    height: auto;
    width: 100%
  }

  h3 {
    padding: 17px 17px 17px 0;
  }

  .column {
    position: relative;

    .photo-overlay {
      position: absolute;
      color: transparent;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}

hr {
  border-bottom: rgba(176,176,176, 0.5) solid 1px;
  margin: 1rem auto;
  width: 80%;
}

.photographers {
  img {
    padding: 40px 20px;
    height: auto;
    border-bottom: rgba(176,176,176, 0.5) solid 1px;
  }

  p {
    font-size: 1.3rem;
  }

  h3 {
    text-align: left
  }
}

.top {
  background-color: #000000;
  bottom: 2rem;
  display: none;
  opacity: 0.6;
  position: absolute;
  right: 2rem;
  z-index: 10;

  a {
    color: #ffffff;
    display: block;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 0rem;
    padding: 1rem 1rem;
  }
}

.play {
  display: block;
  position: relative;

  &:after {
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url($url + '/images/play.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5rem;
  }
}

.modal-content {
  padding: 1rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: .2rem;

  iframe {
    margin: 0 auto;
    display: block;
  }

  .details {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 2rem 1rem 0 1rem;
  }

  h3 {
    font-size: $size-5;
  }

  p {
    font-size: $size-6;
  }
}

.intro-fernando:after {
  background-image: url($url + '/images/fernando/fernando-chavez-ev-0.jpg');
  @extend .background-image;
}

.intro-neddy:after {
  background-image: url($url + '/images/neddy/neddy-palacios-ev-0.jpg');
  @extend .background-image;
}

.intro-america:after {
  background-image: url($url + '/images/america/america-alvarez-ev-0.jpg');
  @extend .background-image;
}

.intro-hernando:after {
  background-image: url($url + '/images/hernando/hernando-rivera-ev-0.jpg');
  @extend .background-image;
}

.intro-javier:after {
  background-image: url($url + '/images/javier/javier-flores-ev-0.jpg');
  @extend .background-image;
}

.intro-massiel:after {
  background-image: url($url + '/images/massiel/massiel-hernandez-ev-0.jpg');
  @extend .background-image;
}

.intro-ingrid:after {
  background-image: url($url + '/images/ingrid/ingrid-acosta-ev-0.jpg');
  @extend .background-image;
}

.intro-carlos:after {
  background-image: url($url + '/images/carlos/carlos-tirado-ev-0.jpg');
  @extend .background-image;
}

.intro-alf:after {
  background-image: url($url + '/images/alf/alfredo-mendoza-ev-0.jpg');
  @extend .background-image;
}

.intro-angelica:after {
  background-image: url($url + '/images/angelica/angelica-mercado-ev-0.jpg');
  @extend .background-image;
}
