---
layout: default
---
<article>
  <div class="overflow-hidden bg-white py-16 px-4 sm:px-6 lg:px-8 xl:py-36">
    <div class="mx-auto max-w-max lg:max-w-7xl">
      <div class="relative z-10 mb-8 md:mb-2 md:px-6">
        <div class="max-w-prose text-base lg:max-w-none">
          <h2 class="font-bold leading-6 text-sky-600"><%= data.tagline %></h2>
          <p class="mt-2 text-3xl font-oswald font-bold leading-8 tracking-tight text-skin-base sm:text-4xl"><%= data.title %></p>
        </div>
      </div>

      <%= yield content %>
    </div>
  </div>
</article>
